@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Acme|Baloo+Bhaina|Palanquin+Dark');
body {
    background-color: #141414;
}

* {
    margin: 0;
    padding: 0;
}

.menu * {
    z-index: 2;
}

.menu {
    width: 100%;
    height: 55px;
    background-color: #222;
    font-family: Montserrat, 'Arial';
    font-size: 15px;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 180px;
    float: left;
}

.menu ul li img {
    display: block;
    margin: -13px auto -14px 5px;
}

.menu a {
    padding: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #f4f4f4;
    color: #555;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 0px #ccc;
}

.menu ul ul li a {
    background-color: #cd0000;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

@media(max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
    #bt_menu:checked~.menu {
        margin-left: 0;
    }
    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li img {
        margin: auto;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
}

#search {
    width: 357px;
    margin: 5px 0px 5px 5px;
    float: right;
}

#search_text {
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 54px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #222;
    /*#1f7f5c;*/
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
    margin-top: -4px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
}

#search_text:hover {
    background: #e13939;
    /*rgb(64, 151, 119);*/
}

#search_button {
    border: 0 none;
    background: #cd0000 url(/_imagens/searchicon.png) center no-repeat;
    background-size: 50px;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 54px;
    cursor: pointer;
    margin-top: -4px;
}

div#interface {
    padding: 20px;
}

section#corpo {
    float: left;
    width: 830px;
    padding: 10px;
    padding-left: 5px;
    /*border-right: 1px solid #fff;*/
}

div#maioria {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: sans-serif;
}

div#nome-filme h1 {
    color: #cd0000;
    margin-left: 2px;
    margin-bottom: 2px;
    font-size: 27px;
    font-family: 'Palanquin Dark', sans-serif;
}

figure#capa img {
    border: 5px solid white;
    width: 270px;
    margin-right: 16px;
}

div#descricao {
    color: #fff;
    margin-top: -15px;
}

div#star {
    margin-left: 10px;
    margin-bottom: 5px;
}

div#sinopse {
    margin-top: 5px;
}

div#resumo {}

div#resumo h3 {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 23px;
    margin-left: 6px;
    color: #cd0000;
}

div#resumo p {
    text-align: justify;
    font-family: 'Acme', sans-serif;
    color: #c3bbbb;
}

div#semelhantes {
    display: inline-block;
    margin: 15px;
}

div#semelhantes h1 {
    font-family: 'Baloo Bhaina', cursive;
    /*color: #1c54ec;*/
    color: #cd0000;
    margin: 10px;
    margin-bottom: 20px;
}

.titulos {
    margin-left: 20px;
}

.peq {
    clear: both;
    height: 250px;
    width: 180px;
    padding: 5px;
}

div#button {
    display: flex;
}

.dados h4 {
    display: inline-block;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 18px;
    color: #069;
    margin: -2px;
}

.dados h5 {
    display: inline-block;
    font-family: 'Acme', sans-serif;
    margin-left: 2px;
    font-size: 17px;
}

.trailer {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding-left: 14px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 155px;
    height: 50px;
    border-radius: 4px;
}

.trailer1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.trailer1:hover {
    background-color: #555555;
}

span#trailer {
    text-align: center;
    margin-top: 4px;
    margin-left: 7px;
    display: inline-flex;
}

.assistir {
    display: inline-block;
    border-radius: 4px;
    background-color: #069;
    /*#f4511e*/
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 155px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 50px;
}

.assistir span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.assistir a {
    color: #FFFFFF;
}

.assistir span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.assistir:hover span {
    padding-right: 25px;
}

.assistir:hover span:after {
    opacity: 1;
    right: 0;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

#ancora {
    text-decoration: none;
    color: black;
}

#openModal.show {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 795px;
    height: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: #fff;
    background: -o-linear-gradient(#999);
    margin-top: 28px;
}

.fechar {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

aside#lateral {
    margin-top: -15px;
    display: block;
    max-width: 450px;
    float: right;
    /*aside flutue pelo lado direito*/
    padding: 15px;
    border-radius: 7px;
    max-height: 500px;
    background-color: #424242;
    margin-right: 40px;
}

div#screen {
    margin-top: -80px;
    /*margin-left: 40px;*/
    margin-right: -10px;
}

div#prints h1 {
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    color: #fff;
}

div div ul {
    width: 400px;
    list-style: none;
    margin: 100px auto;
}

.div1 {
    display: flex;
    margin-left: 15px;
}

.print {
    width: 170px;
    padding: 5px;
    height: 130px;
}

.lbox {
    display: none;
    opacity: 0;
}

.lbox:target {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .7);
    position: fixed;
}

.box_img {
    width: 500px;
    margin: 150px auto;
}

.box_img img {
    text-align: center;
}

.btn {
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev {
    left: 5%;
    top: 45%;
}

#next {
    right: 5%;
    top: 45%;
}

#close {
    top: 0;
    right: 2%;
    position: absolute;
}

.box_img img {
    opacity: 0;
}

.lbox:target .box_img img {
    opacity: 1;
    transition: opacity .4s linear;
}

footer#rodape {
    clear: both;
    /*'limpa' toda configuração que foi feito da section e aside*/
    /*border-top: 1px solid #606060;*/
    background-color: #cd0000;
    padding-bottom: 5px;
    padding-top: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

footer#rodape p {
    margin: 5px;
    text-align: center;
    color: #fff;
}

footer#rodape p a {
    text-decoration: none;
    color: #fff;
}
